@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  padding: 50px;
  font-family: 'Source Code Pro', serif;
}
a {
  color: #00B7FF;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.total {
  color: black;
  font-weight: bold;
  text-align: right;
  font-size: 50px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
	background: bisque;
	padding: 20px;
  text-align: center;
  color: black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

.answer {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #00B7FF;
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
  cursor: pointer;
  color: white;
}
.answer:hover {
  background-color: #4dd5ff;
}
.answer:active {
  background-color: #4dd5ff;
  width: 130px;
  height: 130px;
  line-height: 130px;
  margin: 5px;
}

.question .header {
  background-color: brown;
  color: white;
  border-bottom: 4px solid red;
}
.question .description {
  text-align: center;
  vertical-align: middle;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 8px;
}
.button.green {
  background-color: green;
  color: white
}
.button.red {
  background-color: brown;
  color: white;
}
.button.orange {
  background-color: goldenrod;
  color: black;
}
.button.block {
  margin: 5px;
  display: inline-block;
}
